.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #0a0f17;
  color: white;
  font-family: system-ui, sans-serif;
}

.title {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 40%;
  text-align: center;
  pointer-events: none;
}

.title h1 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
