/* src/App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background: #050816;
  font-family: system-ui, sans-serif;
}

.app-root {
  width: 100%;
  height: 100%;
  position: relative;
}
